body {
    background:rgba(255,255,255,1);
    background:#fff;
    z-index:1;
    font-family:'Noticia Text', Georgia, Times, 'Times New Roman', serif;
}
.fixed {
    z-index:599999;
}
#adwrapper {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    background:#f5f5f5;
    -webkit-box-shadow:0px -2px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0px -2px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0px -2px 3px rgba(0, 0, 0, 0.25);
    overflow:hidden;
    display:none;
    z-index:99;
}
#adwrapper #adframewrapper {
    margin:4px auto;
    overflow:hidden;
}
#adwrapper a.boxclose {
    position:absolute;
    top:6px;
    right:4px;
    width:30px;
    height:30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:28px;
    font-weight:bold;
    display:none;
    color:#666;
    line-height:0;
    padding:13px 6px;
    z-index:500000;
    text-decoration:none;
    cursor:pointer;
}
#titlepage img {
    width:100%;
}
#adwrapper a.boxclose:hover {
    color:#333;
}
#adwrapper .boxclose:before {
    content:"\2715";
    text-decoration:none;
}
nav.top-bar {
    z-index:99;
    -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-bottom:0px;
}
li.name {
    position:relative;
}
div#name1 {
    top:.5em;
    left:1em;
    position:absolute;
    height:1.7em;
    width:18em;
    padding:.1em;
    opacity:1;
}
div#name2 {
    top:.6em;
    left:1.5em;
    position:absolute;
    height:1.6em;
    width:18em;
    opacity:0;
}
div#name2 h1 {
    font-family:'PT Sans', Helvetica, Arial, sans-serif !important;
    font-size:1.1em;
    text-transform: uppercase;
    line-height:1.7;
    font-weight:400;
    color:#555;
}
p.lead {
    font-size:1.2em;
    line-height:2;
    font-weight:700;
}
p.blurb {
    font-family:'Noticia Text', Georgia, Times, 'Times New Roman', serif;
    font-size:1.1em;
    line-height:1.5;
    color:rgba(0,0,0,0.5);
    font-style: italic;
    text-align: center;
    margin:0.8em auto 2.5em;
    font-weight:400;
}
p.byline {
    text-align:center;
    font-size:1.0em;
    font-style: italic;
    margin-bottom:2.5em;
}
p.byline2 {
    text-align:left;
    font-size:1.0em;
    font-style: italic;
    margin-bottom:2.0em;
}
p.bylinebottom {
    text-align:center;
    font-size:1.1em;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
#logoimg {
    margin:0;
    height:1.6em;
}
#logosmall {
    margin:0 1.2em 0 0;
    height:1.6em;
    display:inline-block;
    float:left;
}
.clear {
    width:100%;
    height:0;
    clear:both;
}
.listname {
    font-size:1.8em;
}
.row.adcubes {
    margin-top:4em;
    margin-bottom:8em;
}
.row.adcubes div.adcube-wrap {
    text-align:center;
}
.row.adcubes div.adcube-wrap > div {
    width:300px;
    margin:0 auto;
}
.top-bar,
.top-bar-section ul,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form) a:not(.button),
.top-bar.expanded .title-area,
.top-bar .top-bar-section .dropdown li {
    background:#fff;
    color:#555;
    font-weight:400;
    font-size:1em;
}
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):hover>a:not(.button),
.top-bar-section ul li:hover:not(.has-form)>a {
    background:#eee;
    color:#555;
}
.top-bar-section .has-dropdown>a:after {
    border-color:rgba(0,0,0,0.4) transparent transparent transparent;
}
.top-bar .toggle-topbar.menu-icon a span:after {
    -webkit-box-shadow: 0 0 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222;
    -moz-box-shadow: 0 0 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222;
    box-shadow: 0 0 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222;
}
.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top-color: #ddd;
}
.top-bar-section .has-dropdown.hover>.dropdown,
.top-bar-section .has-dropdown.not-click:hover>.dropdown {
    -webkit-box-shadow:0px 4px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0px 4px 5px rgba(0, 0, 0, 0.25);
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.25);
}
.top-bar-section>ul>.divider,
.top-bar-section>ul>[role="separator"] {
    border-right:none;
}
.top-bar-section ul li a {
    font-family:'PT Sans', Helvetica, Arial, sans-serif !important;
    text-transform:none;
    font-weight:400;
    font-size:1em;
}
.top-bar-section ul li.top-top > a {
    text-transform:uppercase;
    font-size:.9em;
}
.top-bar-section ul.right li:last-child {
    margin-right:1em;
}
.top-bar .back h5 {
    display:none;
}
.top-bar-section ul li.social img {
    height:1em;
    width:1em;
}
.top-bar .toggle-topbar.menu-icon a span {
    font-family:'PT Sans', Helvetica, Arial, sans-serif !important;
    color:#222;
}
div.title h1 {
    margin:.25em auto 2.0em;
    text-align: center;
    font-family:'PT Sans Narrow', Helvetica, Arial, sans-serif !important;
    font-size:5em;
    font-weight:400;
    line-height:1;
    text-transform:uppercase;
    color:rgba(34,34,34,1);
    display:block;
    z-index:-1;
}
div.title h1 span.grey {
    color:#555;
    padding-right: 1em;
}
h1, h2, h3, h4 {
    font-family:'PT Sans Narrow', Helvetica, Arial, sans-serif !important;
    font-weight:700;
}
p {
    color:#333;
    font-size:1.1em;
    line-height:1.7;
    margin-bottom:1.6em;
    list-style:circle inside;
}
h3.subheading {
    font-family:'PT Sans Narrow', Helvetica, Arial, sans-serif !important;
    font-size:2.5em;
    font-weight:700;
    display:block;
    text-align:center;
    margin:0.8em auto 1.0em;
    padding:.5em 0;
    width:100%;
    border-bottom:1px solid rgba(0,0,0,.3);
}
p.small {
    font-size:.7em;
    line-height:1.6em;
    margin:0;
    font-weight:400;
}
a, a *, * a, a:visited, a:visited *, * a:visited, a:active, a:active *, * a:active, a:focus, a:focus *, * a:focus {
    color:#004646;
    outline:none;
}
p a, p a:visited {
    text-decoration: underline;
}
a:hover, * a:hover, a:hover * {
    color:rgba(0,0,0,0.5);
}
.photorow {
    margin:2em 0 4em;
    padding:0;
    width:100%;
}
.twinphoto .photoleft {
    width:50%;
    float:left;
    padding-right:.75em;
    display:inline-block;
}
.twinphoto .photoright {
    width:50%;
    float:right;
    padding-left:.75em;
    display:inline-block;
}
.twinphoto .photoleft .caption {
    padding-left:.4em;
}
.twinphoto .photoright .caption {
    padding-right:.4em;
}
.caption {
    font-size:.95em;
    line-height:1.5;
    color:rgba(0,0,0,0.6);
    padding:.75em 0 0;
    margin:0;
    font-family:'PT Sans', Helvetica, Arial, sans-serif;
    font-weight:400;
    font-style:normal;
    cursor:default; 
    text-indent:0;
}
.caption span.captionhed {
    text-transform:uppercase;
    font-family:'PT Sans', Helvetica, Arial, sans-serif;
    font-weight:800;
    padding-right:.5em;
}
.timeline {
    padding-bottom: 2em;
    margin-bottom: 4em;
    border-bottom: 1px #ccc solid;
}
.centergallery {
    width:100%;
    max-height:100%;
    overflow:hidden;
    display:block;
    position:relative;
    margin:4em 0 8em;
}
.centergallery .columns {
    padding:0 1.5em;
}
.centergallery img {
    margin:0 auto .5em;
}
.centergallery button span {
    font-family:Times, Georgia, serif !important;
    font-size:2em;
    margin:0 1em;
    display:block;
    color:rgba(153,153,153,0.8);
    text-shadow:0px 0px 2px rgba(80,80,80,.5);
    transform:scale(1,8);
    -webkit-transform:scale(1,8);
    -moz-transform:scale(1,8);
    -ms-transform:scale(1,8);
    -o-transform:scale(1,8);
}
.centergallery .slick-list {
    outline:none;
}
.centergallery button.slick-next {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:15%;
    text-align:left;
    background:rgba(255,255,255,1.0);
    outline:none;
}
.centergallery button.slick-prev {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:15%;
    text-align:right;
    background:rgba(255,255,255,1.0);
    outline:none;
}
/* video */
.inset-video-right {
    float:right;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-right:-15%;
    width:60%;
    margin-left:1.5em;
}
.inset-video-left {
    float:left;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-left:-15%;
    width:60%;
    margin-right:1.5em;
}
.vid-embed-wrap {
    width:100%;
    position:relative;
    display:block;
    margin:0 0 .5em;
    overflow:hidden;
}
.vid-height-space {
    width:100%;
    height:0;
    padding-bottom:56.25%;
}
.vid-embed {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}
.vid-embed .innerWrapper {
    height:100%;
}
.vid-embed-play {
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    display:block;
    position:absolute;
    bottom:5%;
    left:5%;
    height:4em;
    width:8em;
    border:3px solid rgba(255,255,255,0.8);
    cursor: pointer;
    pointer-events:none;
}
.vid-embed-play .playtext {
    opacity:0;
    padding-top:.2em;
}
.vid-embed-play .playicon {
    opacity:1;
}
.vid-embed-play .playtext,
.vid-embed-play .playicon {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display:block;
    position: absolute;
    top:25%;
    text-align:center;
    margin:0 auto;
    width:100%;
}
.vid-embed-play .playicon:after {
    content:'\25B6';
    padding-left:.25em;
    color:rgba(255,255,255,0.8);
    font-size: 2.25em;
    font-weight:700;
}
.vid-embed-play .playtext:after {
    content:'Play';
    padding-top:.5em;
    color:rgba(255,255,255,0.8);
    font-size: 1.8em;
    font-weight:700;
}
div#footer-bar {
    background:#fff;
    -webkit-box-shadow:0px -2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0px -2px 3px rgba(0, 0, 0, 0.15);
    box-shadow:0px -2px 3px rgba(0, 0, 0, 0.15);
    color:#555;
    padding:1em 1em 1.5em;
}
div#footer-bar ul.social {
    margin:0 auto;
    position:absolute;
    left:45%;
    top:1em;
}
div#footer-bar ul.social li {
    padding:0 .5em;
    float:left;
    display:inline-block;
}
@media (max-width:1240px) {
    .inset-video-right {
        margin-right:0;
        width:50%;
    }
    .inset-video-left {
        margin-left:0;
        width:50%;
    }
}
@media (max-width:930px) {
    #logoimg {
        height:1.3em;
    }
    .top-bar-section ul li.social {
        display:inline-block;
        float:left;
        width:33.3%;
        text-align:center;
    }
    .top-bar-section ul.right li:last-child {
        margin-right:0;
    }
    p {
        color:#333;
        font-size:1.05em;
        line-height:1.8;
        margin-bottom:1.25em;
    }
    p.lead {
        font-size:1.15em;
    }
    .photorow {
        margin-top:1em;
        margin-bottom:1em;
    }
    .photorow img {
        margin-bottom:.5em;
    }
}
@media (max-width:800px) {
    .centergallery .caption {
        font-size:.8em;
    }
    .centergallery button span {
        font-size:1.25em;
        margin:0 .5em;
        text-shadow:none;
        transform:scale(1,5);
        -webkit-transform:scale(1,5);
        -moz-transform:scale(1,5);
        -ms-transform:scale(1,5);
        -o-transform:scale(1,5);
    }
    .centergallery .columns {
        padding:0 0.5em;
    }
    .centergallery button.slick-next {
        padding:0;
        width:8%;
    }
    .centergallery button.slick-prev {
        padding:0;
        width:8%;
    }
    .centervideo {
        margin:2em 0;
    }
}
@media (max-width:740px) {
    div.title h1 span.grey {
        padding-right:0;
        padding-bottom:.1em;
        display:block;
    }
}
@media (max-width:540px) {
    div.title h1 {
        font-size:2.25em;
    }
    p.blurb {
        font-size:1.2em;
        line-height:1.6;
        margin-bottom:1.1em;
    }
    .inset-video-right {
        padding-left:0;
        padding-right:0;
        margin-right:0;
        margin-left:0;
        width:100%;
    }
    .inset-video-left {
        padding-left:0;
        padding-right:0;
        margin-right:0;
        margin-left:0;
        width:100%;
    }
    h3.subheading {
        font-size:1.5em;
        margin:2.5em auto 1.5em;
        width:100%;
    }
    .twinphoto .photoleft {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoright {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoleft .caption {
        padding:0;
        margin-bottom:2em;
    }
    .twinphoto .photoright .caption {
        padding:0;
    }
    .caption {
        font-size:.85em;
        line-height:1.35;
    }
    div#footer-bar p.small {
        max-width:50%;
        text-align:left;
    }
    div#footer-bar ul.social {
        right:1em;
        top:.6em;
        left:auto;
    }
    div#footer-bar {
        padding: .5em 1em .5em;
    }
}
@media (max-width:420px) {
    .top-bar-section ul li.social {
        float:none;
        width:100%;
    }
}
@media (max-width:360px) {
    div.title h1 {
        font-size:2em;
    }
    p {
        font-size:1em;
    }
    p.lead {
        font-size:1.05em;
        line-height:1.8;
    }
}

/*
p.span.voted::before, p span.vote::before { content: " ››› "; }
*/

p span.vote a, p span.voted a
{
  color: white;
  text-decoration: none;
}
p span.vote, p span.voted
{
/*
    display: block-inline;
    padding: 0 5px;
    font-weight: bold;
    background-color: rgb(253, 255, 157);
*/
  background: #81BEF7;
  background-image: -webkit-linear-gradient(top, #81BEF7, #2980b9);
  background-image: -moz-linear-gradient(top, #81BEF7, #2980b9);
  background-image: -ms-linear-gradient(top, #81BEF7, #2980b9);
  background-image: -o-linear-gradient(top, #81BEF7, #2980b9);
  background-image: linear-gradient(to bottom, #81BEF7, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: .21em;
  font-family: Georgia;
  color: #ffffff;
  font-size: 1.1em;
  padding: .2em 0;
  text-align: center;
  width:100%;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
p span.vote:hover
{
  background: #f0e68c;
  background-image: -webkit-linear-gradient(top, #f0e68c, #bdb76b);
  background-image: -moz-linear-gradient(top, #f0e68c, #bdb76b);
  background-image: -ms-linear-gradient(top, #f0e68c, #bdb76b);
  background-image: -o-linear-gradient(top, #f0e68c, #bdb76b);
  background-image: linear-gradient(to bottom, #f0e68c, #bdb76b);
}
p span.voted 
{ 
  background: #27c239;
  background-image: -webkit-linear-gradient(top, #27c239, #0d7a1e);
  background-image: -moz-linear-gradient(top, #27c239, #0d7a1e);
  background-image: -ms-linear-gradient(top, #27c239, #0d7a1e);
  background-image: -o-linear-gradient(top, #27c239, #0d7a1e);
  background-image: linear-gradient(to bottom, #27c239, #0d7a1e);
  text-decoration: none;
}
